{{template "base" .}}

{{define "heading"}}
 <style>
        h1{
            text-align: center;
        }
    </style>
{{end}}

{{define "content"}}
    
    <div class="container">
        <div class="head-data">
            Donor : {{.Donor}} <br>
            Party : {{.Party}} <br>
            Date of Purchase : {{.Date}} <br>
            <h1>Details</h1>
        </div>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>Bond Number</th>
                    <th>URN</th>
                    <th>Date of Encashment</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{range .Data}}
                <tr>
                    <td>{{.BondNo}}</td>
                    <td>{{.URN}}</td>
                    <td>{{.Date}}</td>
                    <td>₹{{.Denomination}}/-</td>
                    <td>
                    <form action="/search" method="post">
                    <input type="hidden" name="BondNo" value="{{.BondNo}}">
                    <button class="btn btn-outline-success" type="submit">Details</button>
                </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
{{end}}