{{template "base" .}}

{{define "heading"}}
<style>
    .title{
        text-align: center;
        font-size: 2rem;
        color: rgb(139, 185, 254);
    }
</style>
{{end}}

{{define "content"}}
<div class="details container">
        <p class="title">{{.Title}}</p>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>Party</th>
                    <th>Total Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{range .Data}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Amount}}</td>
                    <td>
                    <form action="/donor/party/date" method="post">
                        <input type="hidden" name="donor" value="{{.Title}}">
                        <input type="hidden" name="party" value="{{.Name}}">
                        <input type="submit" value="Details" class="btn btn-outline-success">
                    </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
{{end}}