{{template "base" .}}

{{define "heading"}}
<style>
    .title{
        text-align: center;
        font-size: 2rem;
        color: rgb(139, 185, 254);
    }
</style>
{{end}}

{{define "content"}}
<div class="details container">
        <p class="title">Donor : {{.Donor}}<br>Party : {{.Party}}</p>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>Date of Purchase</th>
                    <th>Total Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{range .Data}}
                <tr>
                    <td>{{.Date}}</td>
                    <td>₹{{.Amount}}</td>
                    <td>
                    <form action="/donor/party/date/details" method="post">
                        <input type="hidden" name="party" value="" class="party">
                        <input type="hidden" name="donor" value="" class="donor">
                        <input type="hidden" name="date" value="{{.Date}}">
                        <input type="submit" value="Details" class="btn btn-outline-success">
                    </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
{{end}}

{{define "js"}}
<script>
            let party = document.querySelectorAll(".party")
            for(var i=0; i<party.length; i++){
                party[i].value = "{{.Party}}";
            }
            let donor = document.querySelectorAll(".donor")
            for(var j=0; j<donor.length; j++){
                donor[j].value = "{{.Donor}}";
            }
        </script>
{{end}}