{{template "base" .}}

{{define "heading"}}
<style>
.form-control{
    margin: 0rem 1rem;
}
form{
    display: flex;
}
.details{
    margin-top: 2rem;
}
.next-btn{
    padding-left: 90%;
}
.hide {
  display: none;
}
</style>
{{end}}

{{define "content"}}
<div class="container">
        <form action="/filter-result" method="post">
            <input type="text" name="no" id="no" placeholder="Bond Number" class="form-control">
            <select name="party" id="party" class="form-control">
                <option value="" selected disabled>Political Party</option>
                {{range .Parties}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
            <select name="donor" id="donor" class="form-control">
                <option value="" selected disabled>Donor Name</option>
                {{range .Donors}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
            <select name="denominations" id="denominations" class="form-control">
                <option value="" selected disabled>Denomination</option>
                <option value="1000">1K</option>
                <option value="10000">10K</option>
                <option value="100000">1L</option>
                <option value="1000000">10L</option>
                <option value="10000000">1Cr</option>
            </select>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
    <div class="details container">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">Bond Number</th>
                    <th scope="col">Name of Purchaser</th>
                    <th scope="col">Political Party</th>
                    <th scope="col">Denomination</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{range .Data}}
                <tr>
                    <th scope="row">{{.BondNo}}</th>
                    <td>{{.NameDonor}}</td>
                    <td>{{.NameParty}}</td>
                    <td>₹{{.Denomination}}</td>
                    <td>
                        <button class="btn btn-primary" type="button" onclick="getdetails('{{.BondNo}}')">
                            See More
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div class="hide" id="{{.BondNo}}" class="full-details">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col">Unique Bond : <span id="{{.BondNo}}--bondno"></span></div>
                                    <div class="col">URN : <span id="{{.BondNo}}--urn"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col">Journal Date : <span id="{{.BondNo}}--datejournal"></span></div>
                                    <div class="col">Date of Purchase : <span id="{{.BondNo}}--datepurchase"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col">Date of Expiry : <span id="{{.BondNo}}--dateexpiry"></span></div>
                                    <div class="col"><strong>Name of Purchaser : <span id="{{.BondNo}}--namedonor"></span></strong></div>
                                </div>
                                <div class="row">
                                    <div class="col">Issue Branch Code : <span id="{{.BondNo}}--issuebranch"></span></div>
                                    <div class="col">Issue Teller : <span id="{{.BondNo}}--issueteller"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col">Date of Encasement : <span id="{{.BondNo}}--dateencashment"></span></div>
                                    <div class="col"><strong>Name of Political Party : <span id="{{.BondNo}}--nameparty"></span></strong></div>
                                </div>
                                <div class="row">
                                    <div class="col">Pay Branch Code : <span id="{{.BondNo}}--paybranch"></span></div>
                                    <div class="col">Pay Teller : <span id="{{.BondNo}}--payteller"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col"><strong>Denomination : <span id="{{.BondNo}}--denomination"></span></strong></div>
                                    <div class="col">Status : <span id="{{.BondNo}}--status"></span></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
{{end}}

{{define "js"}}
    <script>
        function getdetails(id) {
            document.getElementById(id).classList.toggle("hide");
            let check = document.getElementById(id + "--bondno");
            if (check.textContent != ""){
                return;
            }
            let data = new FormData()
            data.append("id", id);
            fetch("/get-details", {
                method: "POST",
                body: data
            }).then(response => response.json())
                .then(data => {
                    document.getElementById(id + "--bondno").textContent = data.BondNo;
                    document.getElementById(id + "--urn").textContent = data.URN;
                    document.getElementById(id + "--datejournal").textContent = data.DateJournal;
                    document.getElementById(id + "--datepurchase").textContent = data.DatePurchase;
                    document.getElementById(id + "--dateexpiry").textContent = data.DateExpiry;
                    document.getElementById(id + "--namedonor").textContent = data.NameDonor;
                    document.getElementById(id + "--issuebranch").textContent = data.IssueBranch;
                    document.getElementById(id + "--issueteller").textContent = data.IssueTeller;
                    document.getElementById(id + "--dateencashment").textContent = data.DateEncashment;
                    document.getElementById(id + "--nameparty").textContent = data.NameParty;
                    document.getElementById(id + "--paybranch").textContent = data.PayBranch;
                    document.getElementById(id + "--payteller").textContent = data.PayTeller;
                    document.getElementById(id + "--denomination").textContent = data.Denomination;
                    document.getElementById(id + "--status").textContent = data.Status;
                })
                .catch(error => {
      console.error("Error:", error);
    });
        }
    </script>
{{end}}