{{template "base" .}}

{{define "heading"}}
<style>
.form-control{
    margin: 0rem 1rem;
}
form{
    display: flex;
}
.details{
    margin-top: 2rem;
}
.note{
    color: red;
}
</style>
{{end}}

{{define "content"}}
<div class="details container">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Amount}}</td>
                    <td>
                    <form action="/party/donor" method="post">
                        <input type="hidden" name="name" value="{{.Name}}">
                        <input type="submit" value="Details" class="btn btn-outline-primary">
                    </form></td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <p class="note">*Note : All the data are from 12th Apr 2019 to 15th Feb 2024 !</p>
    </div>
{{end}}