{{template "base" .}}

{{define "heading"}}
<style>
    .title{
        text-align: center;
        font-size: 2rem;
        color: rgb(139, 185, 254);
    }
</style>
{{end}}

{{define "content"}}
<div class="details container">
        <p class="title">Party : {{.Party}}<br>Donor : {{.Donor}}</p>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>Date of Encashment</th>
                    <th>Total Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{range .Data}}
                <tr>
                    <td>{{.Date}}</td>
                    <td>{{.Amount}}</td>
                    <td>
                    <form action="/party/donor/date/details" method="post">
                        <input type="hidden" name="party" value="{{.Party}}">
                        <input type="hidden" name="donor" value="{{.Donor}}">
                        <input type="hidden" name="date" value="{{.Date}}">
                        <input type="submit" value="Details" class="btn btn-outline-success">
                    </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
{{end}}