{{template "base" .}}

{{define "heading"}}
<style>
.form-control{
    margin: 0rem 1rem;
}
form{
    display: flex;
}
.details{
    margin-top: 2rem;
}
.body-title{
    font-size: 3rem;
    color: rgb(139, 185, 254);
    text-align: center;
}
.full-details{
    font-size: 1.2rem;
}
.details-line{
    margin-bottom: 1.1rem;
}
.note{
    color: red;
    text-align: center;
}
</style>
{{end}}

{{define "content"}}
<div class="details container">
        <p class="body-title">Search Reasult for {{.Heading}}</p>
        {{range .Data}}
        <div id="{{.BondNo}}" class="full-details">
            <div class="card card-body">
                <div class="row details-line">
                    <div class="col">Unique Bond : {{.BondNo}}</div>
                    <div class="col">URN : {{.URN}}</div>
                </div>
                <div class="row details-line">
                    <div class="col">Journal Date : {{.DateJournal}}</div>
                    <div class="col">Date of Purchase : {{.DatePurchase}}</div>
                </div>
                <div class="row details-line">
                    <div class="col">Date of Expiry : {{.DateExpiry}}</div>
                    <div class="col"><strong>Name of Purchaser : {{.NameDonor}}</strong></div>
                </div>
                <div class="row details-line">
                    <div class="col">Issue Branch Code : {{.IssueBranch}}</div>
                    <div class="col">Issue Teller : {{.IssueTeller}}</div>
                </div>
                <div class="row details-line">
                    <div class="col">Date of Encasement : {{.DateEncashment}}</div>
                    <div class="col"><strong>Name of Political Party : {{.NameParty}}</strong></div>
                </div>
                <div class="row details-line">
                    <div class="col">Pay Branch Code : {{.PayBranch}}</div>
                    <div class="col">Pay Teller : {{.PayTeller}}</div>
                </div>
                <div class="row details-line">
                    <div class="col"><strong>Denomination : ₹{{.Denomination}}</strong></div>
                    <div class="col">Status : {{.Status}}</div>
                </div>
            </div>
        </div>
        {{end}}
         <p class="note">Note : Empty page means data not found !</p>
</div>
{{end}}